input {
    width: 100%;
    color: #000;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.editarNota {
    background-color: #0A3876;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.editarNota:hover {
    background-color: #0c458f;
}

.editarNota:active {
    background-color: #0b356d;
}