.bordaTela {
    width: 100% !important;
    height: 100% !important;
    background-color: #0A3876;
}

.projetoTitulo {
    text-align: center;
    vertical-align: middle;
}

.conteudo {
    width: 80% !important;
    height: 80% !important;
    background-color: white;
    margin: 3% 10%;
    border-radius: 20px;
    padding: 1rem;
}

.notepadComponent {
    width: 100% !important;
    height: 100% !important;
}