/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans-serif;
    color: rgb(175, 175, 175)
}

html {
    width: 100% !important;
    height: 100% !important;
}

body {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
}